<hr />
<footer>
  <a href="https://github.com/ARipeAppleByYoursTruly/aripeapplebyyourstruly.github.io">GitHub repo for this webpage</a>
</footer>



<style>
  hr {
    color: var(--onBackground);
    width: 80%;
    margin-top: 1rem;
  }

  footer {
    text-align: center;
  }
</style>
