<header>
  <svg
  id="logo"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  version="1.1"
  viewBox="0 0 5000 5000"
  xml:space="preserve">

    <g transform="matrix(1 0 0 1 2499.9994115945 2499.9999849745)" id="iz3J8xSXmPgf3wUlYqo1X">
      <path
      vector-effect="non-scaling-stroke"
      transform=" translate(-2400.00061, -2400)"
      d="M 2900.0012 0
        L 3200.0012 0
        L 3200.0012 0.00628
        L 3449.60707 166.40979000000002
        L 3449.60706 166.40981000000002
        L 3200.00119 0.006300000000010186
        L 3200.00119 540.81958
        L 3200.0012 540.81956
        L 3200.0012 2349.99996
        L 2900.0012 2349.99996
        L 2900.0012 990.8207
        L 2219.80038 2011.12454
        L 2219.2977 2010.78942
        L 1541.14975 3028.01395
        L 1541.65243 3028.34907
        L 1501.4492500000001 3088.6539900000002
        L 1261.0791600000002 2908.3764
        L 1291.0340500000002 2863.44394
        L 1291.5359300000002 2863.77853
        L 1841.7039600000003 2038.52438
        L 1841.2020800000003 2038.1898
        L 2900.0012 449.9870500000002
        L 2900.0012 449.9870400000002
        L 3199.99179 0.000010000000202126103
        L 3200.00119 0.0062800000002021265
        L 3200.00119 2.021265099738656e-13
        L 2900.0011999999997 2.021265099738656e-13
        z
        M 3200.0012 2400.00001
        L 4800.00122 2400.00001
        L 4800.00122 2700.00001
        L 3532.14405 2700.00001
        L 3532.14405 2699.9999700000003
        L 2532.14405 2699.9999700000003
        L 2532.14405 2700.00001
        L 1819.91763 2700.00001
        L 2019.9171199999998 2400.00001
        L 2900.0011999999997 2400.00001
        L 2900.0011999999997 2399.9999700000003
        L 3200.0011999999997 2399.9999700000003
        z
        M 3200.0012 4425.00001
        L 3380.00118 4560.00001
        L 3380.00117 4560.0000199999995
        L 3200.00119 4425.0000199999995
        L 3200.00119 4799.99998
        L 3200.0012 4799.99997
        L 3200.0012 4800
        L 3200.00119 4800
        L 3200.00119 4799.99998
        L 3200.00117 4800
        L 3200.00114 4800
        L 2900.0011999999997 4575.00002
        L 2900.0011999999997 4575
        L 1626.8231099999996 3620.1163500000002
        L 1626.9103999999995 3619.9999700000003
        L 826.9104199999995 3019.99994
        L 826.8231299999994 3020.1163300000003
        L 400.00143999999943 2700.00003
        L 0.0012299999994525024 2700.00003
        L 0.0012299999994525024 2699.99998
        L 400.0014199999994 2699.99998
        L 0.0015099999994276914 2400.00003
        L 500.0014299999994 2400.00003
        L 500.0014399999994 2400.0000400000004
        L 1540.6283499999993 2400.0000400000004
        L 1340.6288699999993 2700.00003
        L 900.0014099999994 2700.00003
        L 1179.9431099999995 2909.9563200000002
        L 1179.9104399999994 2909.9998800000003
        L 2379.9103999999998 3809.9999300000004
        L 2379.9430799999996 3809.9563600000006
        L 2900.0012199999996 4199.99999
        L 2900.0012199999996 2749.9999800000005
        L 3200.0012199999996 2749.9999800000005
        z
        M 1038.96839 3241.54343
        L 1279.33848 3421.82101
        L 360.5548499999999 4799.9999800000005
        L -1.1368683772161603e-13 4799.9999800000005
        z"
      stroke-linecap="round" />

    </g>
  </svg>
  <div><a href="/">My Stuff</a></div>
  <div><a href="">About Me</a></div>
</header>



<style>
  header {
    background-color: #aaaaaa;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
  }



  /* Logo */
  svg {
    width: 80px;
    height: 80px;
  }

  path {
    stroke: #000000;
    stroke-width: 0;
    stroke-dasharray: none;
    stroke-linecap: butt;
    stroke-dashoffset: 0;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    fill-rule: nonzero;
    opacity: 1;

    fill: var(--base);
  }

  /* Dark theme */
  html.dark path {
    fill: var(--light);
  }



  /* Nav links */
  div {
    background-color: grey;
    padding: 0.2rem;
  }
</style>
