---
---



<!-- <p id="repoList"></p> -->



<!-- <script>
  const repoList = document.querySelector("#repoList")

  const response = await fetch("https://api.github.com/users/ARipeAppleByYoursTruly/repos")
  const repos = await response.json()

  console.log(repos)
</script> -->
