.repolist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-gap: 1rem;

  text-align: center;
}



.repolist-item {
  border: 0.1rem solid var(--accent);
  border-radius: 20px;
  padding: 1rem;

  transition-property: color, border, background-color;
}
.repolist-item:hover {
  border-color: var(--accentOnHover);
  background-color: var(--backgroundOnHover);
}
.repolist-item:active {
  border-color: var(--accentOnClick);
  background-color: var(--backgroundOnClick);
}

.repolist-item .image-container {
  width: 200px;
  height: 200px;
  margin: auto;

  display: flex;
  justify-content: center;
}

.repolist-item img {
  object-fit: contain;
  display: inline-block;
  max-width: 300px;
}

.repolist-item .title {
  font-weight: bold;
  margin: 0.5rem 0;
}

.repolist-item .description {
  font-size: 0.8rem;
}
