.repolist {
  background-color: #ffd7d7;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-gap: 1rem;

  text-align: center;
}



.repolist-item {
  border: 0.1rem solid var(--accent);
  color: var(--onBackground);
  text-decoration: none;

  padding: 0.5rem;
}

.repolist-item img {
  width: 200px;
  height: 200px;
  display: inline-block;
}
