---
import Layout_General from "@layouts/astro/Layout_General.astro"
---



<Layout_General pageTitle="100% Guides">
  <h1 class="text-align:center">100% Guides</h1>
  <div
      class="
        background:var(--color-background-layer1)
        border-radius:10px

        display:flex
        align-items:center
        justify-content:center

        height:150px
        margin:0_max(0px,50%_-_600px/2)
      "
    >None for now</div>
</Layout_General>
