---
import Layout_Base from "@layouts/astro/Layout_Base.astro"
---



<Layout_Base pageTitle="About Me">
  <h1 class="text-align:center">About Me</h1>

  <div
    class="
      styleAs-card
      margin:0_max(0px,50%_-_1000px_/_2)
    "
  >
    <img
      src="/images/RipeApple/Profile picture.webp"
      alt="RipeApple's profile picture"
      decoding="async"
      class="
        border-radius:50%
        width:200px
        aspect-ratio:1/1
        display:block
        margin:auto
      "
    />
    <p>You wanna know more about me, instead of the stuff I've made? Alright then.</p>
    <p>I go by multiple usernames, so apologies if you ever get confused by that. For clarity,
      here's how I use them:</p>
    <ul class=">li?margin:0.5em_0">
      <li><strong>A Ripe Apple By Yours Truly</strong> - The full, official username. Used in places
        where being able to be uniquely identified is important, like social media. Sometimes
        without spaces due to website constraints.</li>
      <li><strong>RipeApple</strong> - Shorter, more readable username. Used for gaming and
        text.</li>
      <li><strong>Apple</strong> - The shortest non-username possible. I prefer to go by this name
        in verbal conversations, since it's an actual name. Be careful of context if using for text
        though.</li>
    </ul>
    <p>I'm mainly a gamer who do some programming, how it came to be is a bit of a life story. Long
      story short, I've been playing games for the majority of my life, wanted to make games, but
      realized its difficulty for going solo, so I stopped my academics with a diploma in computer
      science.</p>
    <p>Now I'm trying to find a way to make a living with the skills I have. Proven to be difficult
      due to life, and myself to be honest. Just gonna have to put some blind faith in myself, and
      try some stuff to see how it goes. Yolo, right?</p>
  </div>
</Layout_Base>
