/* Colors */
:root {
  --base: #0056CD;
  --baseLighter: #4b96ff;
  --light: #E2F4FF;
  --dark: #000e22;

  --background: var(--light);
  --onBackground: var(--dark);
  --accent: var(--base);
  --iconColor: var(--base);
}

/* Dark theme */
.dark {
  --background: var(--dark);
  --onBackground: var(--light);
  --accent: var(--baseLighter);
  --iconColor: var(--light);
}



* {
  box-sizing: border-box;
}

html {
  background-color: var(--background);
  color: var(--onBackground);
  font-size: 18pt;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--accent);
}
