---
const {githubRepo} = Astro.props
---



<footer
  class="
    border-top:1px_solid_var(--onBackground)

    padding:30px_0_20px
    margin:40px_10px_0

    text-align:center
  "
>
  <a
    href={`https://github.com/ARipeAppleByYoursTruly/${githubRepo}`}
    class="link-text"
  >GitHub repo for this webpage</a>
</footer>
