---
import BaseLayout from "../layouts/astro/BaseLayout.astro"
---



<BaseLayout pageTitle="About Me">
  <div
    class="
      background:var(--container)
      border-radius:20px

      width:min(calc(100%_-_20px),800px)
      padding:20px
      margin:auto
    "
  >
    <img
      src="/images/profile pic.webp"
      alt="Profile picture for Github user ARipeAppleByYoursTruly"
      class="
        border-radius:50%
        width:200px
        display:block
        margin:auto
      "
    />
    <p>Hi, call me Apple, because I use multiple usernames.<br/><br/>
      I'm just a guy who plays games and do some programming. Currently thinking that my skills are not good enough to make games, so I'm learning a bit of everything before attempting to make a game.<br/><br/>
      Unbright future imminent.</p>
  </div>
</BaseLayout>
